 ul {
                        border: 1px solid #555;
                      }
                      
                      li {
                        text-align: left;
                        border-bottom: 1px solid #555;
                      }
                      
                      li:last-child {
                        border-bottom: none;
                      }